<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.aoplog.dao.SysLogMapper">
    <insert id="saveSysLog">
		  insert into SYS_LOG(id,userName,operation,time,method,params,ip,createTime)
		  values(#{id},#{userName},#{operation},#{time},#{method},#{params},#{ip},#{createTime})
	</insert>
</mapper>