<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatis.mapper.StudentMapper">
    <insert id="add">
		insert into student(sno,sname,ssex) values(#{sno},#{name},#{sex})
	</insert>
    <update id="update">
		update student set sname=#{name},ssex=#{sex} where sno=#{sno}
	</update>
    <delete id="deleteById">
		delete from student where sno=#{id}
	</delete>
    <select id="queryStudentById" resultType="com.example.mybatis.bean.Student">
		select
			sno		sno
			,sname	name
			,ssex 	sex
		from student where sno=#{id}
	</select>
</mapper>